<div><label class="{{if required 'control-label required' 'control-label'}}" for={{concat type "-" property}} style="margin-top: 10px; margin-bottom: 0;">{{label}}</label></div>
<input
  type={{type}}
  id={{concat type "-" property}}
  value={{get changeset property}}
  oninput={{action (mut (get changeset property)) value="target.value"}}
  onblur={{action validateProperty}}>

<div style="position: absolute; color: red;">
  {{#if (get changeset.error property)}}
  <small>
    {{#each (get (get changeset.error property) "validation") as |message index|}}
      {{#if (eq index 0)}}
    	  {{message}}
      {{/if}}
    {{/each}}
  </small>
  {{/if}}
</div>